p{
	padding-top: 7px;
	font-size: 0.8em;
    color: #207e8e;
    text-transform: uppercase;
    font-weight: 700;
}

.p2{
	padding-top: 7px;
	font-size: 0.8em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.sem_espaco{
	padding: 0;
}

.verde{
	color:#006400;
}

.vermelho{
	color:#B22222;
}

h1{
	color: #ffffff;
	margin-left: 13px;
}

.direita{
	float: right;
	transform: rotate(45deg);

}

.tabela a{
	text-decoration: none;
}

li a{
	text-transform: uppercase;
}

.largura-full{
	width: 100%;
}

.margin-left-col2{
	width: calc(16.66666667% - 2px);
    margin-left: 2px!important;
}

.margin-left-col3{
	width: calc(25% - 2px);
    margin-left: 2px!important;
}

.margin-left-col4{
	width: calc(33.33333333% - 2px);
    margin-left: 2px!important;
}

.margin-left-col5{
	width: calc(41.66666667% - 2px);
	margin-left: 2px!important
}

.margin-left-col6{
	width: calc(50% - 2px);
    margin-left: 2px!important;
}

.margin-left-col7{
	width: calc(58.33333333% - 2px);
    margin-left: 2px!important;
}

.margin-left-col8{
	width: calc(66.66666667% - 2px);
    margin-left: 2px!important;
}

.margin-left-col9{
	width: calc(83.33333333% - 2px);
    margin-left: 2px!important;
}

.margin-left-col10{
	width: calc(83.33333333% - 2px);
    margin-left: 2px!important;
}

.modal-content{
	background-color: #207e8e;
}

.alt-line{
	line-height: 50px;
}

.gp-alt{
	min-height: 241px;
}

.gp-alt-2{
	min-height: 244px;
}

.modal-lg{
	width: 1100px;
}

.form-horizontal .form-group{
	margin-right: 0;
    margin-left: 0;
}

.bg-branco{
	background: #fff;
    border-radius: 5px;
    padding-bottom: 2px;
}

.bg-branco label, .titulo-img{
	font-size: 0.8em;
	color: #207e8e;
    text-transform: uppercase;
    font-weight: 700;
}

.titulo-img{
	margin-left: 0;
	text-align: center;
}

.bg-branco input{
	text-transform: uppercase;
	border-color: #fff;
	box-shadow: none;
}

.tabela{
	background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.nav-tab-title{
	font-size: 0.8em;
	color: #207e8e;
    text-transform: uppercase;
    font-weight: 700;
}

.tab-content{
	min-height: 179px;
	padding: 5px;
}

.img-grupo, .img-produto{
	margin-top: 15px;
}

.img-container{
	position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.img-container img{
	width: 100%;
    height: auto;
}

.btn-img{
	font-size: 2.5em;
	font-weight: 700;
}

.btn-img:hover{
	opacity: 0.8;
	text-shadow: 1px 1px 1px #ccc;
}

.botoes{
	float: right;
}

.botoes ul{
	list-style: none;
	margin-right: 5px;
}

.botoes ul li{
	float: left;
	margin: 15px 10px;
}

.botoes ul li a {
	text-decoration: none;
    font-size: 1.8em;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
}

#combo{
	background-color: #112e33;
}

#check{
	background-color: #006400;
}

#eraser{
	background-color: #B22222;
}

#pencil{
	background-color: #FFD700;
}

#plus{
	background-color: #02b302;
}

#search{
	background-color: #DDA0DD;
}

#combo:hover, #check:hover, #eraser:hover, #pencil:hover, #plus:hover, #search:hover{
	opacity: 0.8;
	border:1px solid #000000;
}

.form-group{
	margin-bottom: 2px;
}

#modal-tamanho{
	width: 600px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0; 
}

#tab-tam{
	min-height: 260px;
	background-color: #207e8e;
}

#area-texto{
	margin: 0px;
    width: 492px;
    height: 232px;
}

.selectpicker{
	padding-top: 15px;
	border: 0;
}

.campo_busca{
	display: none;
}