
h1{
	color: #ffffff;
	margin-left: 40px;
}

.margin-left-col3{
	width: calc(25% - 2px);
    margin-left: 2px!important;
}

.margin-left-col4{
	width: calc(33.33333333% - 2px);
    margin-left: 2px!important;
}

.margin-left-col8{
	width: calc(66.66666667% - 2px);
    margin-left: 2px!important;
}

.modal-content{
	background-color: #207e8e;
}

.modal-lg{
	width: 1100px;
}

.form-horizontal .form-group{
	margin-right: 0;
    margin-left: 0;
}

.bg-branco{
	background: #fff;
    border-radius: 5px;
    padding-bottom: 5px;
}

.bg-branco label{
	font-size: 0.8em;
	color: #207e8e;
    text-transform: uppercase;
    font-weight: 700;
}

.bg-branco input{
	text-transform: uppercase;
	border-color: #fff;
	box-shadow: none;
}