
label, .nav-tab-title{
	font-size: 0.8em;
	color: #207e8e;
	text-transform: uppercase;
	font-weight: 700;
}

h1{
	color: #ffffff;
}

.modal-sm{
	width: 800px;
}

.form-horizontal #form-usuarios{
	margin: 0 0 2px 0;
}

.modal-content{
	background-color: #207e8e;
}

.margem{
	margin-left:2px;
}

#descricao{
	width: calc(83.33333333% - 2px);
}

.fd-branco{
	background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
}

.col-md-9{
	width: calc(75% - 2px);
}

.fd-branco input{
	border: none;
	box-shadow: none;
	text-transform: uppercase;
}

.botoes{
	float: right;
	padding-left: 5;

}

#button1id, #button2id{
	margin: 0;
    padding: 0;
    border-radius: 10px;
}

#tab-content{
	height: 150px;
	padding: 5px;
}

.recursos ul li a{
	padding: 10px 5px;
}